.grid line,
.grid path {
    stroke: #fff;
}

.x-axis,
.y-axis,
.city-label {
    color: #fff;
}

.line-plot {
    fill: none;
    stroke-width: 1.5px;
}

.axis-label,
.city-label {
    fill: #fff;
}

.city-label {
    text-anchor: middle;
    font-size: 12px;
    font-weight: bold;
    opacity: 0.8;
}

.axis-label {
    text-anchor: middle;
    font-size: 8px;
    font-weight: semibold;
}

.x-axis,
.y-axis {
    opacity: 0.4;
}

.grid path,
.grid line {
    opacity: 0.1;
}

.background {
    fill: #333;
    opacity: 0.4;
}

body {
    font-family: "Open Sans";
    margin: 0;
    background-color: black;
}

#main {
    margin: 20px;
}

.point {
    fill: goldenrod;
    opacity: 0.3;
}

svg {
    padding-right: 20px;
    padding-top: 20px;
}