.grid line {
    stroke: #fff;
}

.x-axis,
.y-axis,
.x-vals,
.y-vals,
.city-label {
    color: #fff;
}

.x-vals,
.y-vals,
.grid path,
.grid line {
    opacity: 0.2;
}

.line-plot {
    fill: none;
    stroke-width: 1.5px;
}

.axis-label {
    fill: #fff;
}

.city-label {
    fill: rgba(135, 103, 23, 0.845);
    text-anchor: start;
    font-size: 12px;
    font-weight: bold;
    opacity: 1;
}

.title {
    opacity: 0.8;
}

.title,
.subtitle,
#tooltip {
    fill: white;
    font-size: 12px;
    text-anchor: middle;
}

#tooltip {
    font-size: 12px;
}

.subtitle {
    font-weight: medium;
    font-size: 12px;
    opacity: 0.5;
}

.axis-label {
    text-anchor: middle;
    font-size: 8px;
    font-weight: semibold;
}

.x-axis,
.y-axis {
    opacity: 0.4;
}

.background {
    fill: #333;
    opacity: 0.4;
}

body {
    font-family: "Open Sans";
    margin: 0;
    background-color: black;
}

#main {
    margin: 20px;
}

.point {
    fill: goldenrod;
    opacity: 0.3;
}

svg {
    padding:10px;
}